body {
  font-family: "Montserrat", sans-serif;
  background-color: #2c3e50;
}
.navbar {
  background-color: #2c3e50;
}
.navbar-brand,
.nav-link {
  color: white !important;
}
.nav-link {
  margin-right: 15px;
}
.btn-signup {
  background-color: #1877f2;
  border-color: #1877f2;
  color: white;
}
.navbar-nav {
  margin: 0 auto;
}
.navbar-brand {
  margin-right: 15px;
}
.btn-secondary {
  color: white;
}
.movie-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.view-all-link {
  color: #a6ceeb;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: color 0.3s ease;
}
.view-all-link:hover {
  color: #f0f3f5;
}
.latest-reviews {
  margin-top: 20px;
}

.latest-reviews-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.view-more {
  color: #3498db;
  text-decoration: none;
}
