.movie-card {
  position: relative;
  text-align: center;
  margin: 10px;
  display: inline-block;
  width: calc(20% - 20px);
  vertical-align: top;
  box-sizing: border-box;
}

.movie-hover-content {
  position: absolute;
  top: 0;
  /* width: 105%; */
  height: 100%;
  max-height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  padding: 5px;
  box-sizing: border-box;
  overflow: auto;
  font-size: 14px;
  z-index: 10;
  /* transform: translateX(0); */
}

.movie-card:hover .movie-hover-content {
  opacity: 1;
  transform: translateX(100%);
}

.movie-card.hover-left:hover .movie-hover-content {
  transform: translateX(-100%);
}

.movie-director,
.movie-runtime,
.movie-genres,
.movie-description {
  margin-bottom: 3px;
}

.movie-genres {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.genre {
  background-color: #333;
  padding: 2px 4px;
  border-radius: 3px;
  margin: 2px;
  font-size: 12px;
}

.movie-image {
  width: 100%;
  height: 403px;
  object-fit: cover;
  border-radius: 8px;
}

.movie-details {
  margin-top: 5px;
  padding: 5px;
  min-height: 60px;
}

.movie-rating {
  font-size: 20;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.movie-title {
  font-size: 22;
  font-weight: bold;
  margin-top: 3px;
  color: white;
  text-align: left;
}

.movie-rating-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movie-watchlist {
  display: flex;
  align-items: center;
  font-size: 20;
  color: white;
  font-weight: bold;
}

@media (max-width: 768px) {
  .hover-left .movie-hover-content {
    width: 150px;
  }
}
