<head>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
    rel="stylesheet"
  />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
      <div class="d-flex w-100 justify-content-center">
        <a class="navbar-brand font-bold" routerLink="/homepage">Review Nang</a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link font-bold" href="#">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-bold" routerLink="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-signup font-bold" href="#">Sign Up</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container login-container">
    <div class="row">
      <div class="col-md-5 mx-auto">
        <div class="card no-border login-card">
          <div class="card-header login-header">
            <h2 class="login-title">Login</h2>
          </div>
          <div class="card-body login-body">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
              <div class="form-group">
                <input
                  type="text"
                  id="username"
                  name="username"
                  formControlName="username"
                  class="form-control"
                  placeholder="Username"
                />
                <div
                  *ngIf="
                    loginForm.get('username')?.invalid &&
                    loginForm.get('username')?.touched
                  "
                >
                  <p class="error-message">Username is required.</p>
                </div>
              </div>

              <div class="form-group">
                <input
                  type="password"
                  id="password"
                  name="password"
                  formControlName="password"
                  class="form-control"
                  placeholder="Password"
                />
                <div
                  *ngIf="
                    loginForm.get('password')?.invalid &&
                    loginForm.get('password')?.touched
                  "
                >
                  <p class="error-message">Password is required.</p>
                </div>
              </div>
              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary login-button">
                  Login
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>